*                   @maurelian @zchn
/tasks/eth          @maurelian @zchn
/tasks/gor          @ethereum-optimism/contract-reviewers
/mainnet-rehearsals @maurelian @zchn
/tasks/oeth         @maurelian @zchn
/tasks/ogor         @ethereum-optimism/contract-reviewers
/script             @ethereum-optimism/contract-reviewers
/src                @ethereum-optimism/contract-reviewers
