[profile.default]
src = "src"
out = "out"
libs = ["lib"]
optimizer = true
optimizer_runs = 999999
solc_version = "0.8.15"
evm_version = "cancun"
via_ir = true
broadcast = 'records'
fs_permissions = [{ access = "read-write", path = "./" }]
# Enable FFI for reading lib/superchain-registry files in scripts SignFromJson.s.sol, NestedSignFromJson.s.sol within tasks
ffi = true

remappings = [
  '@openzeppelin/contracts-upgradeable/=lib/optimism/packages/contracts-bedrock/lib/openzeppelin-contracts-upgradeable/contracts/',
  '@openzeppelin/contracts/=lib/openzeppelin-contracts/contracts',
  '@base-contracts/=lib/base-contracts/',
  '@eth-optimism-bedrock/=lib/optimism/packages/contracts-bedrock/',
  '@rari-capital/solmate/=lib/solmate',
  '@eth-optimism-superchain-registry/=lib/superchain-registry/',
  '@solady/=lib/optimism/packages/contracts-bedrock/lib/solady/src/',
  'ds-test/=lib/optimism/packages/contracts-bedrock/lib/forge-std/lib/ds-test/src',
  'forge-std/=lib/forge-std/src/',
]

[profile.ci]
deny_warnings = true

[rpc_endpoints]
localhost = "http://127.0.0.1:8545"
mainnet = "https://ethereum.publicnode.com"
