[profile.default]
src = "src"
out = "out"
libs = ["lib"]
optimizer = false
solc_version = "0.8.15"
evm_version = "cancun"
fs_permissions = [{ access = "read-write", path = "./" }]
gas_limit = "18446744073709551615" # max allowable value, which is max uint64
ffi = true # Enable FFI for reading lib/superchain-registry files in scripts SignFromJson.s.sol, NestedSignFromJson.s.sol within tasks
no_match_coverage = 'src/template/boilerplate/|script/|src/JsonTxBuilderBase.sol|test'

[lint]
exclude_lints = ["unused-import", "unsafe-cheatcode", "unsafe-typecast", "asm-keccak256", "unaliased-plain-import", "mixed-case-variable", "creaming-snake-case-const", "pascal-case-struct", "mixed-case-function", "screaming-snake-case-const", "unwrapped-modifier-logic", "named-struct-fields"]

[profile.ci]
deny = "warnings"

[profile.ci.rpc_endpoints]
mainnet = "https://ci-mainnet-l1-archive.optimism.io" 
sepolia = "https://ci-sepolia-l1-archive.optimism.io" 
opSepolia = "https://ci-sepolia-l2.optimism.io"
opMainnet = "https://mainnet.optimism.io" # We eventually need a CI L2 RPC URL for this.

[profile.default.rpc_endpoints]
localhost = "http://127.0.0.1:8545"
mainnet = "https://ethereum.publicnode.com"
sepolia = "https://ethereum-sepolia-rpc.publicnode.com"
opSepolia = "https://sepolia.optimism.io"
opMainnet = "https://mainnet.optimism.io"
