[profile.default]
src = "src"
out = "out"
libs = ["lib"]
solc_version = "0.8.15"
via_ir = true
broadcast = 'records'
fs_permissions = [ {access = "read-write", path = "./"} ]

remappings = [
  '@openzeppelin/contracts-upgradeable/=lib/optimism/packages/contracts-bedrock/lib/openzeppelin-contracts-upgradeable/contracts/',
  '@openzeppelin/contracts/=lib/openzeppelin-contracts/contracts',
  '@base-contracts/=lib/base-contracts/',
  '@eth-optimism-bedrock/=lib/optimism/packages/contracts-bedrock/',
  '@rari-capital/solmate/=lib/solmate',
  'solady/utils/=lib/optimism/packages/contracts-bedrock/lib/solady/src/utils/'
]
