l2chains = [
    {name = "Base Sepolia Testnet", chainId = 84532}
]

templateName = "OPCMUpgradeV400"

[[opcmUpgrades]]
chainId = 84532
# prestates."1.6.1-rc.1
# https://github.com/ethereum-optimism/superchain-registry/blob/d82a61168fd1d7ef522ed8e213ce23c853031495/validation/standard/standard-prestates.toml#L6
absolutePrestate = "0x03eb07101fbdeaf3f04d9fb76526362c1eea2824e4c6e970bdb19675b72e4fc8"
# PROXYA-10: The PAO is not the standard one
# DF-30: The PAO is not the standard one
# PDDG-DWETH-30: The PAO is not the standard one
# PDDG-130: The challenger is not the standard one
# PLDG-DWETH-30: The PAO is not the standard one
expectedValidationErrors = "PROXYA-10,DF-30,PDDG-DWETH-30,PDDG-130,PLDG-DWETH-30"

[addresses]
OPCM = "0x44c191ce5ce35131e703532af75fa9ca221e2398" # Freshly deployed on Sepolia
StandardValidatorV400 = "0xA8a1529547306FEC7A32a001705160f2110451aE" # Freshly deployed on Sepolia

[stateOverrides]
0x0fe884546476dDd290eC46318785046ef68a0BA9 = [
     {key = "0x0000000000000000000000000000000000000000000000000000000000000005", value = 24}
]
0x6AF0674791925f767060Dd52f7fB20984E8639d8 = [
     {key = "0x0000000000000000000000000000000000000000000000000000000000000005", value = 10}
]
0x646132A1667ca7aD00d36616AFBA1A28116C770A = [
     {key = "0x0000000000000000000000000000000000000000000000000000000000000005", value = 7}
]
# Override the SuperchainConfig implementation address. This is necessary to prevent an attempt to
# upgrade the SuperchainConfig by the wrong L1 ProxyAdmin owner.
0xC2Be75506d5724086DEB7245bd260Cc9753911Be = [
    {key = "0x360894a13ba1a3210667c828492db98dca3e2076cc3735a920a3ca505d382bbc", value = "0x000000000000000000000000ce28685eb204186b557133766eca00334eb441e4"}
]
