templateName = "OPCMUpgradeV300"

[[l2chains]]
chainId = 10
name = "OP Mainnet"

[[l2chains]]
chainId = 1868
name = "Soneium"

[[l2chains]]
chainId = 57073
name = "Ink"


[[opcmUpgrades]]
chainId = 10
# https://www.notion.so/oplabs/Upgrade-14-MTCannon-1d6f153ee1628024af26cd0098d3bdfe
absolutePrestate = "0x03ee2917da962ec266b091f4b62121dc9682bb0db534633707325339f99ee405"
expectedValidationErrors = "PDDG-DWETH-30,PDDG-ANCHORP-40,PLDG-DWETH-30,PLDG-ANCHORP-40"

[[opcmUpgrades]]
chainId = 1868
# https://www.notion.so/oplabs/Upgrade-14-MTCannon-1d6f153ee1628024af26cd0098d3bdfe
absolutePrestate = "0x03ee2917da962ec266b091f4b62121dc9682bb0db534633707325339f99ee405"
expectedValidationErrors = "PDDG-ANCHORP-40,PLDG-10"

[[opcmUpgrades]]
chainId = 57073
# https://www.notion.so/oplabs/Upgrade-14-MTCannon-1d6f153ee1628024af26cd0098d3bdfe
absolutePrestate = "0x03ee2917da962ec266b091f4b62121dc9682bb0db534633707325339f99ee405"
expectedValidationErrors = "SYSCON-30,PDDG-ANCHORP-40,PLDG-ANCHORP-40"


[addresses]
OPCM = "0x3a1f523a4bc09cd344a2745a108bb0398288094f" # https://github.com/ethereum-optimism/superchain-registry/blob/b3d020de42abeebeb5786ea5508aa08d12bdf4cd/validation/standard/standard-versions-mainnet.toml#L22C56-L22C98
StandardValidatorV300 = "0xf989Df70FB46c581ba6157Ab335c0833bA60e1f0"
FoundationUpgradeSafe = "0x847B5c174615B1B7fDF770882256e2D3E95b9D92" # https://github.com/ethereum-optimism/superchain-ops/blob/08f4d178ffca335cfed5cd3ea18d94b56ff4ea9f/NESTED-VALIDATION.md?plain=1#L37
SecurityCouncil = "0xc2819DC788505Aac350142A7A707BF9D03E3Bd03" # https://github.com/ethereum-optimism/superchain-ops/blob/08f4d178ffca335cfed5cd3ea18d94b56ff4ea9f/NESTED-VALIDATION.md?plain=1#L36

[stateOverrides]
0x5a0Aae59D09fccBdDb6C6CcEB07B7279367C3d2A = [
    {key = "0x0000000000000000000000000000000000000000000000000000000000000005", value = 13}
]
0x847B5c174615B1B7fDF770882256e2D3E95b9D92 = [
    {key = "0x0000000000000000000000000000000000000000000000000000000000000005", value = 21}
]
0xc2819DC788505Aac350142A7A707BF9D03E3Bd03 = [
    {key = "0x0000000000000000000000000000000000000000000000000000000000000005", value = 23}
]
